.App {
  text-align: center;
  background: rgb(34,193,195);
  background-size: contain;
  height: 100vh;
  background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(161,253,45,0.711922268907563) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

